.projects-section {
  background-color: #000000b3;
  box-shadow: 0 0 8px var(--black);
  padding: 2rem;
}

.projects-title {
  border-bottom: 1px solid var(--main-color);
  color: var(--white);
  font-weight: initial;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.projects-div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height: 512px;
}

.projects-div a {
  align-items: flex-end;
  display: flex;
  justify-content: flex-start;
  aspect-ratio: 16 / 9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0 0 4px var(--black);
  color: var(--white);
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-decoration: none;
}

.projects-div a:hover {
  box-shadow: 0 0 4px var(--main-color);
  color: var(--main-color);
}

.project-name {
  box-shadow: 0 0 2px var(--black);
  background: var(--black);
  margin-bottom: 0.2rem;
  margin-left: 0.2rem;
  padding: 0.2rem 0.4rem;
}

.navbar-pics {
  box-shadow: 0 0 4px var(--black);
  overflow-y: scroll;
  padding: 0.5rem;
  width: 25%;
}

.navbar-pics button {
  aspect-ratio: 16 / 9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 100%;
}

.navbar-pics button:hover {
  box-shadow: 0 0 4px var(--main-color);
  cursor: pointer;
}


@media screen and (max-width: 425px) {
  .projects-section {
    padding: 0.5rem;
  }

  .projects-title {
    margin-bottom: 1rem;
    text-align: center;
  }

  .navbar-pics {
    display: flex;
    overflow-y: hidden;
    padding: 0;
    width: 100%;
  }

  .navbar-pics::-webkit-scrollbar {
    height: 3px;
  }

  .navbar-pics a {
    aspect-ratio: 0.64;
  }
}